.alert {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.btn-alert {
  border-radius: 1px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.btn-alert-fa {
  color: red;
  text-align: right;
}
